<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>RedEyedman | Having fun with Gentoo! | {{ s_menus.article_title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/ico">
        <link href="../static/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
        <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="../static/css/main.css" rel="stylesheet" type="text/css">
        <link href="../static/css/carousel.css" rel="stylesheet" type="text/css">
        <link href="../static/css/player/mediaelementplayer.css"  rel="stylesheet" type="text/css"/>
        <link href="../static/css/player/mejs-skins.css"  rel="stylesheet" type="text/css"/>
        <link href='../static/css/ggfonts.css?family=Open+Sans&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
        <link href="../static/css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">	

    </head>
    <body>
        <header id="navigation" class="navbar-inverse navbar-fixed-top ">
            <div class="container">
                {% block nav_menu_socialbar %}
                <div class="nav_menu">
                    <div class="container-fluid logo">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a class="nav_item1" href="/index">ГЛАВНАЯ</a></li>
                                <li class="dropdown">
                                    <a href="#" class="nav_item2" data-toggle="dropdown" role="button" aria-expanded="false">СТАТЬИ<span class="caret"></span></a>
                                <li><a class="nav_item3" href="#content_bottom_b">BLENDER GALLERY</a></li>
                                <li><a class="nav_item4" href="#content_bottom_c">VIDEO GALLERY</a></li>
                            </ul>
                            <!-- socialbar begin -->
                            <div class="socialbar">
                                <a href="https://www.youtube.com/channel/UCV31wHY7yZXe7L5QD3qh2vA"><button class="button-youtube"></button></a>
                                <a href="#"><button class="button-google"></button></a>
                            </div>
                            <!-- socialbar end -->
                            <form method="post" action="{{ url_for('show_inner_search') }}">
                                {{ form.csrf_token }}
                                <div class="search">
                                    {{ form.query(type="search", placeholder="Поиск по сайту") }}
                                    <button type="submit" class="btn btn-default" ></button>
                                </div>
                            </form>
                        </div> 
                    </div>
                </div>                
                {% endblock %}
                {% block just_header %}
                <div id="header">
                    <div class="logo"><span></span></div>
                </div>
                {% endblock %}
            </div>
        </header>
        <div class="container-fluid">
            <div class="row-fluid">
                {% block page_align %}
                <div id="page_align" class="b3radius">
                    <div class="row">
                        <div class="blocks">
                            <div class="col-sm-8">
                                {% block content_block_inner_search %}
                                <div id="content">
                                    <div id="article-container">
                                        {% for search in s_menus %}
                                        <h2 class="line" style="text-align: center;"><a class="line" style="text-align: left;" href="/inner/{{ search.id }}"> {{ search.id }} . {{ search.article_title }}</a></h2>

                                        {{ search.article_text | ctxt | safe }}

                                        {% endfor %}
                                    </div> 

                                    <div id="menu">
                                        {% for menu in menus %}
                                        <h2 class="line" style="text-align: center;">{{ menu.article_title }}</h2>

                                        {{ menu.article_text | ctxt | safe }}

                                        <a class="readmore-button" href="/inner/{{ menu.id }}"><i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i></a>

                                        {% endfor %}

                                        <div class="pagination">
                                        {{ pagination.links }}
                                        </div>

                                    </div> 
                                    {% endblock %}
                                </div>
                            </div>	

                            <div class="col-sm-6">
                                {% block content_bottom_c_inner %}
                                <div id="content_bottom_c_inner">
                                    <div id="video-container">	

                                        <h2 class="line">GAMELAB: GAMEPLAY TESTING UNDER LINUX</h2>

                                        {% for content in contents %}

                                        <video width="100%" max-width="640" height="360" id="video" style="width: 80%">

                                            <source type="video/youtube" src="{{ contents.content_text | safe }}" />

                                        </video>

                                        <span id="player1-mode"></span>
                                        {%endfor%}
                                        {% endblock %}
                                    </div>

                                    <div id="content-container">

                                        {% for article in articles_loop %}
                                        <h2 class="line" style="text-align: left;">{{ article.article_title }}</h2>

                                        {{ article.article_text | safe }}

                                        <a class="readmore-button" href="/imenu/{{ article.id }}"><i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i></a>

                                        {% endfor %}	

                                    </div>
                                </div> 
                            </div>
                        </div>
                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
        {% block footer %}
        <div align="center" class="footer">
            <div id="footer_container" align="center">
                <div class="footer_data_a">
                    <p align="left" >RedEyedman | Having fun with Gentoo! <br>
                        Бложик одного Красноглазика</p>
                </div>
                <div class="footer_data_b">
                    <p align="left" >RedEyedman | Having fun with Gentoo! <br>
                        Статьи, хаутушки и просто всякая всячина</p>
                </div>
                <div class="footer_data_c">
                    <p>&copy; 2019 Designed & developed by:<br> Galym Kerimbekov </p>
                </div>
            </div>
        </div>
        {% endblock %}
        <!--  Core JavaScript ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/smoothscroll.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="../static/js/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.js"></script>
        <script src="../static/js/mediaelement-and-player.min.js"></script>
        <script src="../static/js/modalpict.js"></script>
        <script>  var video = new MediaElementPlayer('#video');
            $('video').mediaelementplayer({
                success: function (media, node, player) {
                    $('#' + node.id + '-mode').html('mode: ' + media.pluginType);
                }
            });

		</script>
	<script>
            $(document).ready(function () {
                $("#content-container").css('display', 'none')
                $(".nav_item4").on("click", function (e) {
                    e.preventDefault();
                    $("#video-container").toggle(300, function () {

                        if ($('#article-container').css('display') == 'block') {
                            $("#article-container").hide(300);
                            $("#content-container").hide(300);
                            $("#video-container").show(300);

                        } else {

                            $("#article-container").show(300);
                            $("#content-container").hide(300);
                            $("#video-container").hide(300);

                        }

                    });
                });
            });
		</script>
		<script>
            $(document).ready(function () {
                $("#content-container").css('display', 'none')
                $(".nav_item3").on("click", function (e) {
                    e.preventDefault();
                    $("#content-container").toggle(300, function () {

                        if ($('#article-container').css('display') == 'block') {
                            $("#article-container").hide(300);
                            $("#video-container").hide(300);
                            $("#content-container").show(300);

                        } else {

                            $("#article-container").show(300);
                            $("#video-container").hide(300);
                            $("#content-container").hide(300);
                        }

                    });
                });
            });
        </script>
		<script>
            $(document).ready(function () {
                $("#content-container").css('display', 'none')
                $(".nav_item2").on("click", function (e) {
                    e.preventDefault();
                    $("#menu").toggle(300, function () {

                        if ($('#menu').css('display') == 'block') {
                            $("#article-container").hide(300);
                            $("#content-container").show(300);

                        } else {

                            $("#article-container").show(300);
                            $("#content-container").hide(300);
                        }

                    });
                });
            });
        </script>
    </body>
</html>

