/*-------------------------------------------
        MEDIA QUERIES GENERAL
---------------------------------------------*/

@media (max-width : 544px) and (orientation: portrait){
    /* logo */
    span {
	    margin-left: -4%;
    }
    .navbar-header {
    	width: 50%;
    }
    #article-container {
    	margin-top: 12%;
    }
    /* pagination buttons */
    .button {
        font-size: 10px;
    	width: 30px;
    	height: 30px;
    }
    .search{
        margin-left: 15%;
    }
    #query {
        width: 50%;
        margin-right: 2%;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    	border-color: #101010;
    	background-color: black;
    }
    #bs-example-navbar-collapse-1 {
	    width: 60%;
    }
    #content_inner img {
        width: 100% !important;
        height: 100% !important;
    }
}

@media (max-width : 768px) and (orientation: landscape){
    .navbar-header {
    	width: 90%;
    }
    #article-container {
    	margin-top: 12%;
    }
    /* pagination buttons */
    .button {
        font-size: 10px;
    	width: 30px;
    	height: 30px;
    }
    .search{
        width: 60%;
        float: left;
        height: 35px;
        margin-left: 15%;
    }
    #query {
        margin-right: 2%;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    	border-color: #101010;
    	background-color: black;
    }
    #content_inner img {
        width: 100% !important;
        height: 100% !important;
    }
}
