<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../static/images/favicon.ico">

        <title>Административная зона </title>

        <!-- Bootstrap core CSS -->
        <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../../static/css/dashboard.css" rel="stylesheet">
        <link href="../../static/css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

<!-- Sidebar begins -->		  
        <div class="col-sm-3 col-md-2 sidebar" id="adm_sidebar">
            {% block adminboard_sidebar  %}
            <ul class="nav nav-sidebar">

                <li class="active"><a>Системная информация <span class="sr-only">(current)</span></a></li>

                <div id="sysinfo">
                    <p> <i class="fa fa-server" aria-hidden="true" style="padding-right: 15px;"></i> {{ servername }}</p>
                    <p> <i class="fa fa-clock-o" aria-hidden="true" style="padding-right: 15px;"></i> {{ ltime }}</p>
                    <p> <i class="fa fa-hdd-o" aria-hidden="true" style="padding-right: 15px;"></i>  {{ freespace }}</p>
                    <p> <i class="fa fa-info-circle" aria-hidden="true" style="padding-right: 15px;"></i> {{ approot }}</p>
                    <p> <i class="fa fa-users" aria-hidden="true" style="padding-right: 15px;"></i> {{ users }} </p>
                </div>

                <a  href="{{ url_for('do_backup') }}" id="backup" class="progress-button" onclick="startProgress();">Бэкап сайта</a>	
                
        <li id="pubswitch_active" class="active"><a> Видимость контента <span class="sr-only">(current)</span></a></li>
            <form action="{{ url_for('pub_switcher_inner') }}" method="post" enctype="multipart/form-data" id="pubswitch">
                <p><input type="radio" name="pub_on" value="1"> Активировать контент<br></p>
                <p><input type="radio" name="pub_off" value="0"> Деактивировать контент<br></p>
                <input value="Выбрать" id="pub_submit" form="pubswitch" class="btn btn danger" type="submit">
            </form>                
            {% endblock %}
        </div>
        <!-- Sidebar ends -->

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('show_dashboard') }}">Меню</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div id="toolbar">
                        <ul class="minibar-nav" >
                            <li><a class="button" enabled="" href="{{ url_for('add_editpage_content') }}">Добавить статью</a></li>
                            <li><a class="button" enabled="" href="{{ url_for('add_editpage_category') }}">Добавить категорию</a></li>
                            <form class="form_class" method="POST" action="{{ request.path }}" >
                                {{ form.csrf_token }}
                                <li><input type="submit" id="rename" name="rename" value="Переименовать" class="button" enabled=""/></li>
                                <li><input type="submit" id="delete" name="delete" value="Удалить статью" class="button" enabled=""/></li>
                                <li><a class="button" enabled="" href="{{ url_for('show_dashboard_main') }}">Материалы</a></li>
                                <li><a class="button" enabled="" href="{{ url_for('show_dashboard_users') }}">Пользователи</a></li>            
                        </ul>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('user_logout') }}">Выход</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">

                <div  id="main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h3 class="page-header">Медиа-контент</h3>

                    <h4 class="sub-header">Дополнительные материалы</h4>

                    <div id="table-responsive" class="table-responsive">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        {% if category == 'info' %}
                        <div class="warn_msg" role="alert">
                            {% else %}
                            <div class="err_msg alert-{{ category }}" role="alert">
                                {% endif %}
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}                     
                        {{ pagination.links }}                    
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th><i class="fa fa-list-ol" aria-hidden="true"></i></th>
                                    <th><i class="fa fa-pencil-square-o" aria-hidden="true"> Записи</i></th>
                                    <th><i class="fa fa-user" aria-hidden="true"> Пользователь</i></th>
                                    <th><i class="fa fa-database" aria-hidden="true"> Категория</i></th>
                                    <th><i class="fa fa-calendar" aria-hidden="true"> Дата создания</i></th>
                                    <th><i class="fa fa-sort-numeric-asc" aria-hidden="true"> Статус</i></th>
                                    <th><i class="fa fa-sort-numeric-asc" aria-hidden="true"> Индекс</i></th>
                                    <th><input type="checkbox" id='checkbox_all' name='items_chb'/></th>
                                </tr>	
                            </thead>
                            <tbody>
                            <div class="checkbox">
                                {% for content in contents_loop %}
                                <tr>   
                                    <td>{{ content.id }}</a></td>
                                    <td><a href="/adminboard/editpage_id_content/{{ content.id }}" title="Редактировать материал">{{ content.content_title }}</a></td>
                                    <td>{{ content.content_author }}</td>
                                    <td>{{ content.content_category }}</td>
                                    <td>{{ content.content_date }} </td>
                                    {% if content.published == 1 %}
                                        <td> Опубликовано </td>
                                    {% elif content.published == 0 %}
                                        <td> Не опубликовано </td>
                                    {% endif %}
                                    <td><input type='text' id='delid_{{ content.id }}' name='delid' value='{{ content.id }}' size='1' /></td>
                                    <td><input type='checkbox' id='checkbox_{{ content.id }}' name='item_chb' value='{{ content.id }}' /></td>
                                </tr>
                                {% endfor %}
                            </div>
                            </form>
                            </tbody>                            
                        </table>    
                        
                        <div id="search">
                        <form id="formsearch" name="formsearch" method="POST" action="{{ request.path }}">
                        {{ form.csrf_token }}    
                            <div class="search">
                                <input name="query" placeholder="Поиск..." type="search">
                            </div>
                        </div>    
                                                
                        <table id="table-striped-search" class="table table-striped-search">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-list-ol" aria-hidden="true"></i></th>
                                    <th><i class="fa fa-pencil-square-o" aria-hidden="true"> Записи</i></th>
                                    <th><i class="fa fa-user" aria-hidden="true"> Пользователь</i></th>
                                    <th><i class="fa fa-database" aria-hidden="true"> Категория</i></th>
                                    <th><i class="fa fa-calendar" aria-hidden="true"> Дата создания</i></th>
                                    <th><i class="fa fa-sort-numeric-asc" aria-hidden="true"> Статус</i></th>
                                    <th><i class="fa fa-sort-numeric-asc" aria-hidden="true"> Индекс</i></th>
                                    <th><input type="checkbox" id='checkbox_all' name='items_chb'/></th>
                                </tr>			  
                            </thead>
                            <tbody>
                                <div  id="checkbox-search" class="checkbox-search">
                                
                                </div>
                            </form>                            
                            </tbody>  
                        </table>
                        {{ pagination.links }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
        <script type="text/javascript" src=".../../static/js/bootstrap.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script type="text/javascript" src="../../static/js/holder.min.js"></script>
        <script type="text/javascript" src="../../static/js/backup.js"></script>
        <script type="text/javascript" src="../../static/js/checkboxchecker.js"></script>	
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="../../static/js/crud.js"></script>
        <script  type="text/javascript" src="../../static/js/proact_search_inner.js"></script>
    </body>
</html>


